<div class="masonry-item" id="[Element:id]">
    <a id="[ELEMENTID]" [data-attributes] href="[LINK]" class="[ELEMENTCLASSNAME]">
        <div class="thumb-info thumb-info-centered-info thumb-info-no-borders">
            <div class="thumb-info-wrapper">
                <img src="[Element:thumbnail_link]" alt="[Element:title]" class="img-responsive" />
                <div class="thumb-info-title">
                    <span class="thumb-info-inner">[Element:title]</span>
                    <span class="thumb-info-type">[Element:categorieswithoutlink]</span>
                </div>
                <div class="thumb-info-action">
                    <span class="thumb-info-action-icon"><em class="fa fa-link"></em></span>
                </div>
            </div>
        </div>
    </a>
    <div class="control">[Element:action_hide][Element:action_approve][Element:action_edit][Element:action_delete]</div>
</div>
