<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- #region Configuración DotNetNuke. Eliminar si el proyecto no está hosteado en un DotNetNuke -->
		<sectionGroup name="dotnetnuke">
			<!-- the requirePermission attribute will cause a syntax warning - please ignore - it is required for Medium Trust support-->
			<section name="data" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke"/>
			<section name="caching" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke"/>
			<section name="members" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke"/>
			<section name="roles" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke"/>
			<section name="profiles" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke"/>
		</sectionGroup>
		<!-- #endregion Configuración DotNetNuke. Eliminar si el proyecto no está hosteado en un DotNetNuke -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- #region Configuración DotNetNuke. Modificar la dll por la log4net si el proyecto no está hossteado en un DotNetNuke -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, DotNetNuke.Log4Net" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="CollectorsClubEntities" connectionString="Data Source=LOCALHOST\SQL2012;Initial Catalog=CollectorsClub;Persist Security Info=True;User ID=sa;Password=saroot;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="DNN" connectionString="Data Source=LOCALHOST\SQL2012;Initial Catalog=CollectorsClubDNN;User ID=sa;Password=saroot;enlist=false;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>

		<add key="SMTPHost" value="collectorsclub.es"/>
		<add key="CorreoUsarCredenciales" value="true"/>
		<add key="CorreoCuenta" value="info@collectorsclub.es"/>
		<add key="CorreoContrasenya" value="Infoclu8"/>
		<add key="UsarFromGenerico" value="false"/>
		<add key="FromGenerico" value="Información de www.collectorsclub.es &lt;noreply@collectorsclub.es&gt;"/>
		<add key="EnviarCorreosAlCliente" value="false"/>
		<add key="CorreoDePruebas" value="baby2004wolf@hotmail.com"/>
		<add key="UrlGuardarDocumentosTemporales" value="c:\Mis Proyectos\CollectorsClub\CollectorsClub1.0\Principal\Api\CollectorsClub.Web.API\App_Data\DocumentosTemporales" />
		<add key="RutaArchivos" value="C:\Mis Proyectos\CollectorsClub\CollectorsClub1.0\Principal\Platform\Website\" />

		<add key="SolicitudContacto_De" value="Información de www.collectorsclub.es &lt;noreply@collectorsclub.es&gt;"/>
		<add key="SolicitudContacto_Para" value="info@collectorsclub.es"/>
		<add key="SolicitudContacto_Asunto" value="Solicitud de contacto desde la web"/>
		<add key="SolicitudContacto_Contenido" value="&lt;strong&gt;Referencia web:&lt;/strong&gt;: %%SolicitudContacto.Id%%&lt;br/&gt; &lt;strong&gt;Nombre:&lt;/strong&gt;: %%SolicitudContacto.Nombre%%&lt;br/&gt; &lt;strong&gt;Correo electrónico&lt;/strong&gt;: %%SolicitudContacto.CorreoElectronico%%&lt;br/&gt; &lt;strong&gt;Asunto&lt;/strong&gt;: %%SolicitudContacto.Asunto%%&lt;br/&gt; &lt;strong&gt;Mensaje&lt;/strong&gt;:&lt;br/&gt;%%SolicitudContacto.Contenido%%&lt;br/&gt;"/>

		<add key="RutaImagenes" value="G:\\Joan Carles\\Imatges" />

	</appSettings>
	<system.web>
		<machineKey validationKey="53C4CF6D18A8D7B96ED8827E382C85519C0F9CC2" decryptionKey="34127F0942EAF0E215BB70140AD89F116190AF4F33A4DBE8" decryption="3DES" validation="SHA1" />
		<httpRuntime targetFramework="4.5" maxRequestLength="256000" requestLengthDiskThreshold="50000" maxQueryStringLength="32768" maxUrlLength="65536"/>
		<compilation debug="true" targetFramework="4.5"/>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<!--<add namespace="System.Web.Mvc.Ajax" />-->
				<!--<add namespace="System.Web.Mvc.Html" />-->
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
		<!-- #region Configuración Membership. Eliminar si el proyecto no utiliza ASP.NET Membership -->
		<!--<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DNN" applicationName="DotNetNuke" />
			</providers>
		</profile>-->
		<membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DNN" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" passwordFormat="Encrypted" applicationName="DotNetNuke" description="Stores and retrieves membership data from the local Microsoft SQL Server database"/>
			</providers>
		</membership>
		<!--<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DNN" applicationName="DotNetNuke" />
			</providers>
		</roleManager>-->
		<!-- #endregion Configuración Membership. Eliminar si el proyecto no utiliza ASP.NET Membership -->
		<!--<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DNN" />
			</providers>
		</sessionState>-->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<!-- #region Configuración DotNetNuke. Eliminar si el proyecto no está hosteado en un DotNetNuke -->
			<!--<add name="UsersOnline" type="DotNetNuke.HttpModules.UsersOnline.UsersOnlineModule, DotNetNuke.HttpModules" preCondition="managedHandler" />-->
			<add name="DNNMembership" type="DotNetNuke.HttpModules.Membership.MembershipModule, DotNetNuke.HttpModules" preCondition="managedHandler"/>
			<add name="Personalization" type="DotNetNuke.HttpModules.Personalization.PersonalizationModule, DotNetNuke.HttpModules" preCondition="managedHandler"/>
			<!-- #endregion Configuración DotNetNuke. Eliminar si el proyecto no está hosteado en un DotNetNuke -->
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768" maxUrl="65536" maxAllowedContentLength="256000000"/>
			</requestFiltering>
		</security>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
			</dependentAssembly>
			<probing privatePath="bin;bin\Providers;"/>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!-- #region Configuración DotNetNuke. Eliminar si el proyecto no está hosteado en un DotNetNuke -->
	<dotnetnuke>
		<data defaultProvider="SqlDataProvider">
			<providers>
				<clear/>
				<!-- DotNetNuke 7.0 -->
				<add name="SqlDataProvider" type="DotNetNuke.Data.SqlDataProvider, DotNetNuke" connectionStringName="DNN" upgradeConnectionString="" providerPath="~\Providers\DataProviders\SqlDataProvider\" objectQualifier="dnn_" databaseOwner="dbo."/>
				<!-- DotNetNuke 6.1.4 -->
				<!--<add name="SqlDataProvider" type="DotNetNuke.Data.SqlDataProvider, DotNetNuke.SqlDataProvider" connectionStringName="DNN" upgradeConnectionString="" providerPath="~\Providers\DataProviders\SqlDataProvider\" objectQualifier="dnn_" databaseOwner="dbo" />-->
			</providers>
		</data>
		<caching defaultProvider="FileBasedCachingProvider">
			<providers>
				<clear/>
				<!-- DotNetNuke 7.0 -->
				<add name="FileBasedCachingProvider" type="DotNetNuke.Services.Cache.FBCachingProvider, DotNetNuke" providerPath="~\Providers\CachingProviders\FileBasedCachingProvider\"/>
				<!-- DotNetNuke 6.1.4 -->
				<!--<add name="FileBasedCachingProvider" type="DotNetNuke.Services.Cache.FileBasedCachingProvider.FBCachingProvider, DotNetNuke.Caching.FileBasedCachingProvider" providerPath="~\Providers\CachingProviders\FileBasedCachingProvider\" />-->
			</providers>
		</caching>
		<members defaultProvider="AspNetMembershipProvider">
			<providers>
				<clear/>
				<!-- DotNetNuke 7.0 -->
				<add name="AspNetMembershipProvider" type="DotNetNuke.Security.Membership.AspNetMembershipProvider, DotNetNuke" providerPath="~\Providers\MembershipProviders\AspNetMembershipProvider\"/>
				<!-- DotNetNuke 6.1.4 -->
				<!--<add name="AspNetMembershipProvider" type="DotNetNuke.Security.Membership.AspNetMembershipProvider, DotNetNuke.Provider.AspNetProvider" providerPath="~\Providers\MembershipProviders\AspNetMembershipProvider\" />-->
			</providers>
		</members>
		<roles defaultProvider="DNNRoleProvider">
			<providers>
				<clear/>
				<!-- DotNetNuke 7.0 -->
				<add name="DNNRoleProvider" type="DotNetNuke.Security.Roles.DNNRoleProvider, DotNetNuke" providerPath="~\Providers\MembershipProviders\DNNMembershipProvider\"/>
				<!-- DotNetNuke 6.1.4 -->
				<!--<add name="DNNRoleProvider" type="DotNetNuke.Security.Membership.DNNRoleProvider, DotNetNuke.Provider.DNNProvider" providerPath="~\Providers\MembershipProviders\DNNMembershipProvider\" />-->
			</providers>
		</roles>
		<profiles defaultProvider="DNNProfileProvider">
			<providers>
				<clear/>
				<!-- DotNetNuke 7.0 -->
				<add name="DNNProfileProvider" type="DotNetNuke.Security.Profile.DNNProfileProvider, DotNetNuke" providerPath="~\Providers\MembershipProviders\DNNProfileProvider\"/>
				<!-- DotNetNuke 6.1.4 -->
				<!--<add name="DNNProfileProvider" type="DotNetNuke.Security.Profile.DNNProfileProvider, DotNetNuke.Provider.DNNProvider" providerPath="~\Providers\MembershipProviders\DNNProfileProvider\" />-->
			</providers>
		</profiles>
	</dotnetnuke>
	<!-- #endregion Configuración DotNetNuke. Eliminar si el proyecto no está hosteado en un DotNetNuke -->	
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
	</entityFramework>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\log"/>
			<staticlogfilename value="false"/>
			<rollingStyle value="Date"/>
			<datePattern value="'_'yyyyMMdd'.log'"/>
			<maximumFileSize value="10MB"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
</configuration>
