<div class="[Element:comment_class]">
    <div class="comment-list">
        <div class="img-thumbnail-comment">
            [Element:comment_gravatar_image, 70, 70]
        </div>
        <div class="comment-block">
            <span class="comment-by"><strong>[Element:comment_name]</strong></span>
            <span class="reply">
                <em class="fa fa-reply"></em>[Element:comment_reply]
            </span>
            [Element:comment]
            <span class="time-ago">[Element:comment_createdon_timeago]</span>
        </div>
    </div>
    [Element:comment_nested]
</div>