<li>
    <div class="post-image">
        <div class="img-thumbnail">
            <a href="[Element:perm_link]">
                <img class="element" src="[Element:thumbnaillink, 70, 70, padded]" alt="[Element:title]" />
            </a>
        </div>
    </div>
    <div class="post-info">
        <a href="[Element:perm_link]">[Element:caption]</a>
        <div class="post-meta">
            [Element:createdon_monthMMM] [Element:createdon_day], [Element:createdon_year]
        </div>
    </div>
</li>