<li class="col-md-6 col-sm-6 col-xs-12 [Element:categories_class] isotope-item websites" id="[Element:id]">
    <div class="portfolio-item">
        <a id="[ELEMENTID]" [data-attributes] href="[LINK]" class="[ELEMENTCLASSNAME]">
            <div class="thumb-info">
                <div class="thumb-info-wrapper">
                    <img src="[Element:thumbnaillink]" class="img-responsive" alt="[Element:title]" />
                    <span class="thumb-info-title">
                        <span class="thumb-info-inner element-title">[Element:title]</span>
                        <span class="thumb-info-type">[Element:categorieswithoutlink]</span>
                    </span>
                    <span class="thumb-info-action-icon">
                        <em class="fa fa-link"></em>
                    </span>
                </div>
            </div>
        </a>
        <div class="control">
            [Element:action_hide][Element:action_approve][Element:action_edit][Element:action_delete]
        </div>
    </div>
</li>
