<div class="porto_nowidgets">
    [ManageBlog]
    <div class="blog-posts single-post">
        <div class="msearch-result" id="LBSearchResult[moduleid]">
        </div>
        <h2 class="lb-title">
            [BlogName]</h2>
        <p class="lb-desc">
            [BlogDescription]
        </p>
        [Author]
        <article class="post blog-single-post">
                <div class="post-image">
                    [Post:photo]</div>
                <div class="post-date">
                    <span class="day">[Post:publishedon_day]</span> <span class="month">[Post:publishedon_monthname]</span>
                </div>
                <div class="post-content">
                    <h2>
                        <a href="">[Post:title]</a>
                    </h2>
                    <div class="post-meta">
                        <span><em class="icon icon-calendar"></em>[Post:publishedon_monthname] [Post:publishedon_day],
                            [Post:publishedon_year]</span><span>By <em class="icon icon-user"></em><a href="[Post:authorlink]">
                                [Post:author_displayname]</a></span><span><em class="icon icon-folder-open"></em> [Post:categories]
                                </span><span><em class="icon icon-tags"></em>[Post:tags]</span><em class="icon icon-comments">
                                    [Post:commentscount] </em>
                        <div class="socialnetwork">
                            [Post:social_network]
                        </div>
                    </div>
                    [Post:summary]
                </div>
                [Post:related] [Post:comments_data]
                <div class="post-block post-leave-comment">
                    [Post:comments]
                </div>
                </article>
    </div>
</div>
