<div class="[Article:comment_class] comment">
    <div class="img-thumbnail">
         [Article:comment_gravatar_image, 80, 80]
    </div>
    <div class="comment-block">
        <div class="comment-arrow">
        </div>
        <span class="comment-by"><strong>[Article:comment_name]</strong> <span class="cont-reply pull-right"><a href="#">
            <em class="icon icon-reply"></em></a> [Article:comment_reply]</span></span>
        <p>
            [Article:comment]</p>
        <span class="date pull-right">[Article:comment_createdon_timeago]</span>
    </div>
     [Article:comment_nested]
</div>
