<article class="post post-medium-image">
<div class="post-image">
    [Post:photo]
</div>
<h2 class="lb-title">
    <a href="[Post:view_link]">[Post:title]</a> [Post:edit]
</h2>
[Post:summary]
<div class="post-meta">
    <span><em class="icon icon-calendar"></em> [Post:publishedon_monthname] [Post:publishedon_day],
        [Post:publishedon_year]</span><span>By <em class="icon icon-user"></em> <a href="[Post:authorlink]">
            [Post:author_displayname]</a></span><span><em class="icon icon-folder-open"></em> [Post:categories]
            </span><span><em class="icon icon-tags"></em> [Post:tags]</span><span><em class="icon icon-comments">
            </em> [Post:commentscount] [Post:comments_count_link]</span><span class="read-more">
                [Post:read_more] </span>
</div>
<div class="socialnetwork">
    [Post:social_network]
</div>
<div style="clear: both;"></div>
</article>
