<div class="porto">
    [Review] [ManageArticles]
    <div style="clear: both">
    </div>
    <div class="blog-posts single-post">
        <div class="msearch-result" id="LASearchResult[moduleid]">
        </div>
        <span class="mrssfeeds">[RssFeeds]</span>
        <h2 class="la-title">
            [ArticleName]</h2>
        <p class="la-desc">
            [ArticleDescription]
        </p>
        [Author]
        <article class="post blog-single-post">
                    <div class="post-image">
                        [Page:thumbnail]
                    </div>
                    <div class="post-date">
                        <span class="day">[Article:publishedon_day]</span> <span class="month">[Article:publishedon_monthname]</span>
                    </div>
               
                <div class="post-content">
                    <h2>
                       [Page:title]
                    </h2>
                     <div class="post-meta">
                    <span><em class="icon icon-calendar"></em> [Article:publishedon_monthname] [Article:publishedon_day],
                    [Article:publishedon_year]</span><span> By <em class="icon icon-user"></em> <a href="[Article:authorlink]">
                    [Article:author_displayname]</a> </span><span><em class="icon icon-folder-open"></em> [Article:categories]
                    </span><span><em class="icon icon-tags"></em> [Article:tags] </span><em class="icon icon-comments">  [Article:commentscount] 
                    </em>
                    [Article:rating]
                    <div class="socialnetwork">
                    [Article:social_network]
                    </div>
                </div>
                    [Page:introduction] [Article:no_permission_content] [Article:toc] [Page:summary]
                    [Attachments][InlineContent] 
                </div>
                
                [Article:comments_data]
                <div class="post-block post-leave-comment">
                    [Article:comments]
                </div>            
            </article>
    </div>
</div>
