<div class="porto">
    <div class="blog-posts single-post">
        <article class="post blog-single-post">                  
                <div class="post-content">
                    <h2>
                       <a href="">[Article:title]</a> 
                    </h2>
                     <div class="post-meta">
                    <span><em class="icon icon-calendar"></em> [Article:publishedon_monthname] [Article:publishedon_day],
                    [Article:publishedon_year]</span><span> By <em class="icon icon-user"></em> <a href="[Article:authorlink]">
                    [Article:author_displayname]</a> </span>[Article:rating]
                    <div class="socialnetwork">
                    [Article:social_network]
                    </div>
                </div>
                [Article:introduction] [Article:no_permission_content] [Article:toc] [Article:content]
                [Attachments] [InlineContent]   
                </div>
                [Article:comments_data]
                <div class="post-block post-leave-comment">
                    [Article:comments]
                </div>            
            </article>
    </div>
</div>
