<article class="post post-medium-image">
    <div class="post-image">
        [Article:thumbnail]
    </div>
    <h2 class="la-title">
        <a href="[Article:view_link]">[Article:title]</a> [Article:edit]
    </h2>
    [Article:summary]
    <div class="post-meta">
        <span>
            <em class="icon icon-calendar"></em> [Article:publishedon_monthname] [Article:publishedon_day],
            [Article:publishedon_year]
        </span>
        <span>
            By <em class="icon icon-user"></em> <a href="[Article:authorlink]">
                [Article:author_displayname]
            </a>
        </span>
        <span>
            <em class="icon icon-folder-open"></em> [Article:categories]
        </span>
        <span><em class="icon icon-tags"></em> [Article:tags]</span>
        <span>
            <em class="icon icon-comments">
            </em> [Article:commentscount] [Article:comments_count_link]
        </span>
        <span class="read-more">
            <a class="read-more" href="[Article:view_link]">Read More >></a>
        </span>
    </div>
    <div class="socialnetwork">
        [Article:social_network]
    </div>
    <div style="clear: both;"></div>
</article>
