<div class="row portoportfolio4">
    <div class="col-md-4">
        <img class="element" src="[Element:thumbnaillink]" />
    </div>
    <div class="col-md-8">
        <div class="portfolio-info">
            <div class="row">
                <div class="col-md-12 center">
                    <ul>
                        <li>
                            [Journal:like] [Journal:like_count]
                        </li>
                        <li>
                            <em class="fa fa-calendar"></em> [Element:createdon_day] [Element:createdon_monthMMM] [Element:createdon_year]
                        </li>
                        <li>
                            <em class="fa fa-tags"></em> [Element:categories]
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h4 class="heading-primary"> <strong>[Element:title]</strong></h4>
        <p class="mt-xlg">[Element:caption]</p>
        <strong>[Element:tagged_with]</strong>
        <span class="lc-tags">[Element:tags_wc]</span>

        <div class="social-network">[Element:social_network]</div>
        [Element:rating]
        <div class="clear_both"></div>
        [Element:comment] [Element:comment_data]
        <div class="comment-login">[Element:CommentRequireLogin]</div>
    </div>
</div>
